<main class="flex-shrink-0">
    <div class="container">

        <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorMessage">
            {{errorMessage}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <mat-card>

            <mat-card-header>
                <mat-card-title style="color:darkgray;">Login</mat-card-title>
            </mat-card-header>

            <mat-card-content style='display: flex; align-items: center; flex-direction: row; padding: 20px;'>

                <div class='card-body'>

                    <form (ngSubmit)="login(loginForm)" #loginForm="ngForm" class="row g-3">

                        <p>
                            <mat-form-field appearance="outline" color="primary" floatLabel="always">
                                <mat-label>Username</mat-label>
                                <input matInput type="text" class="form-control" placeholder="Inserire l'username"
                                    required minlength="2" id="username" name="username" [ngModel]="utente.username"
                                    #usernameVar="ngModel"
                                    [ngClass]="{'is-invalid': (usernameVar.touched || usernameVar.dirty) && !usernameVar.valid }">
                            </mat-form-field>
                        </p>

                        <p>
                            <mat-form-field appearance="outline" color="primary" floatLabel="always">
                                <mat-label>Password</mat-label>
                                <input matInput type="password" class="form-control" placeholder="Inserire la password"
                                    required minlength="2" id="password" name="password" [ngModel]="utente.password"
                                    #passwordVar="ngModel"
                                    [ngClass]="{'is-invalid': (passwordVar.touched || passwordVar.dirty) && !passwordVar.valid }">
                            </mat-form-field>
                        </p>

                        <div class="col-12">
                            <button type="submit" name="submit" value="submit" id="submit" color="primary"
                                [disabled]="loginForm.invalid" mat-icon-button><mat-icon>done</mat-icon></button>
                        </div>

                    </form>


                    <!-- end card-body -->
                </div>
                <!-- end card -->
            </mat-card-content>
        </mat-card>
        <!-- end container -->
    </div>

    <!-- end main -->
</main>